Flask==0.10.1
Flask-Cache==0.13.1
Flask-Migrate==1.2.0
Flask-Script==2.0.5
Jinja2==2.7.2
Mako==0.9.1
MarkupSafe==0.23
PyRSS2Gen==1.0.0
Twisted==12.0.0
Werkzeug==0.9.4
altgraph==0.9
bdist-mpkg==0.4.4
cssselect==0.9.1
gunicorn==19.1.1
httplib2==0.8
itsdangerous==0.24
lxml==3.3.5
macholib==1.4.2
modulegraph==0.9.1
numpy==1.6.1
psycopg2==2.5.3
py2app==0.6.3
pyOpenSSL==0.13
python-dateutil==1.5
queuelib==1.1.1
requests==2.3.0
six==1.6.1
unittest2==0.5.1
virtualenv==1.9.1
w3lib==1.5
wsgiref==0.1.2
xattr==0.6.2
zope.interface==4.1.1
